* {
    margin: 0;
    padding: 0
}

body {
    font: 12px "Arial", Helvetica, sans-serif;
    color: #756F71
}

a {
    list-style: none;
    text-decoration: none
}

ul,
li {
    list-style: none;
}

header {
    width: 1000px;
    margin: auto;
    height: 110px;
    position: relative;
    overflow: hidden
}


#logo a {
    width: 260px;
    height: 100px;
    position: absolute;
    /* background: url(../images/img/logo.jpg) no-repeat;*/
    display: block
}

nav {
    float: right;
    width: 100%;
    margin: 30px 0 0 0;
    text-align: right
}


/*nav ul{float: right;}*/

nav ul li {
    display: inline-block;
}

nav a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: #999;
    font-family: "Arial", Helvetica, sans-serif;
}

nav a:hover {
    color: #CC3;
}

.topnav a {
    margin: 0 5px;
    padding: 0 8px;
}

#topnav_current {
    color: #e15782;
}

.banner {
    background: url(../img/banner.png) top center;
    width: 100%;
    height: 270px;
    overflow: hidden
}

.texts {
    width: 350px;
    line-height: 26px;
    margin: 60px 0 0 20px;
    float: left;
    font-size: 14px;
    color: black;
}

.texts p {
    -webkit-transform: translate(60px, 0);
    -moz-transform: translate(60px, 0);
    -o-transform: translate(60px, 0);
    -ms-transform: translate(60px, 0);
    transform: translate(60px, 0);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8), 2px 2px 3px rgba(180, 151, 151, 0.3);
}

.texts p:nth-child(1) {
    -webkit-animation: animations 4s linear 1s backwards;
    -moz-animation: animations 4s linear 1s backwards;
    -o-animation: animations 4s linear 1s backwards;
    -ms-animation: animations 4s linear 1s backwards;
    animation: animations 4s linear 1s backwards;
}

.texts p:nth-child(2) {
    -webkit-animation: animations 4s linear 4s backwards;
    -moz-animation: animations 4s linear 4s backwards;
    -o-animation: animations 4s linear 4s backwards;
    -ms-animation: animations 4s linear 4s backwards;
    animation: animations 4s linear 4s backwards;
}

.texts p:nth-child(3) {
    -webkit-animation: animations2 5s ease-in-out 7s backwards;
    -moz-animation: animations2 5s ease-in-out 7s backwards;
    -o-animation: animations2 5s ease-in-out 7s backwards;
    -ms-animation: animations2 5s ease-in-out 7s backwards;
    animation: animations2 5s ease-in-out 7s backwards;
}

.texts p:nth-child(4) {
    -webkit-animation: animations2 9s ease-in-out 8s backwards;
    -moz-animation: animations2 5s ease-in-out 7s backwards;
    -o-animation: animations2 5s ease-in-out 7s backwards;
    -ms-animation: animations2 5s ease-in-out 7s backwards;
    animation: animations2 5s ease-in-out 7s backwards;
}

@-webkit-keyframes animations {
    0% {
        -webkit-transform: translate(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: translate(30px);
        opacity: .5;
    }
    100% {
        -webkit-transform: translate(60px);
        opacity: 1;
    }
}

@-moz-keyframes animations {
    0% {
        -moz-transform: translate(0);
        opacity: 0;
    }
    50% {
        -moz-transform: translate(30px);
        opacity: .5;
    }
    100% {
        -moz-transform: translate(60px);
        opacity: 1;
    }
}

@-o-keyframes animations {
    0% {
        -o-transform: translate(0);
        opacity: 0;
    }
    50% {
        -o-transform: translate(30px);
        opacity: .5;
    }
    100% {
        -o-transform: translate(60px);
        opacity: 1;
    }
}

@-ms-keyframes animations {
    0% {
        -ms-transform: translate(0);
        opacity: 0;
    }
    50% {
        -ms-transform: translate(30px);
        opacity: .5;
    }
    100% {
        -ms-transform: translate(60px);
        opacity: 1;
    }
}

@keyframes animations {
    0% {
        transform: translate(0);
        opacity: 0;
    }
    50% {
        transform: translate(30px);
        opacity: .5;
    }
    100% {
        transform: translate(60px);
        opacity: 1;
    }
}

@-webkit-keyframes animations2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: .8;
    }
    45% {
        opacity: .3;
    }
    50% {
        opacity: .8;
    }
    55% {
        opacity: .3;
    }
    60% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes animations2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: .8;
    }
    45% {
        opacity: .3;
    }
    50% {
        opacity: .8;
    }
    55% {
        opacity: .3;
    }
    60% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes animations2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: .8;
    }
    45% {
        opacity: .3;
    }
    50% {
        opacity: .8;
    }
    55% {
        opacity: .3;
    }
    60% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes animations2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: .8;
    }
    45% {
        opacity: .3;
    }
    50% {
        opacity: .8;
    }
    55% {
        opacity: .3;
    }
    60% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animations2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: .8;
    }
    45% {
        opacity: .3;
    }
    50% {
        opacity: .8;
    }
    55% {
        opacity: .3;
    }
    60% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

.avatar {
    float: right;
    margin: 40px;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    overflow: hidden;
    border: #FFF 4px solid
}

.avatar a {
    display: block;
    padding-top: 97px;
    width: 160px;
    background: url(../img/picture/photo.jpg) no-repeat;
    background-size: 130px 130px
}

.avatar a span {
    display: block;
    margin-top: 63px;
    padding-top: 8px;
    width: 130px;
    height: 55px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    -webkit-transition: margin-top .2s ease-in-out;
    -moz-transition: margin-top .2s ease-in-out;
    -o-transition: margin-top .2s ease-in-out;
    transition: margin-top .2s ease-in-out;
}

.avatar a:hover span {
    display: block;
    margin-top: 0;
}

.memorial_day {
    width: 1000px;
    margin: 8px auto auto;
    overflow: hidden;
    position: relative;
    padding: 60px;
    background: url(../img/人这一辈子.png) no-repeat 400px 30px
}

.time_axis {
    background: #FF0000;
    height: 6px;
    width: 100%;
    animation: time_a 5s;
    -moz-animation: time_a 5s;
    /* Firefox */
    -webkit-animation: time_a 5s;
    /* Safari and Chrome */
    -o-animation: time_a 5s;
    /* Opera */
}

@keyframes time_a {
    0% {
        width: 0px;
    }
    25% {
        width: 250px;
    }
    50% {
        width: 500px;
    }
    100% {
        width: 1000px;
    }
}

@-moz-keyframes time_a {
    0% {
        width: 0px;
    }
    25% {
        width: 250px;
    }
    50% {
        width: 500px;
    }
    100% {
        width: 1000px;
    }
}

@-webkit-keyframes time_a {
    0% {
        width: 0px;
    }
    25% {
        width: 250px;
    }
    50% {
        width: 500px;
    }
    100% {
        width: 1000px;
    }
}

@-o-keyframes time_a {
    0% {
        width: 0px;
    }
    25% {
        width: 250px;
    }
    50% {
        width: 500px;
    }
    100% {
        width: 1000px;
    }
}

.dateview {
    position: absolute;
    top: -50px;
    left: 20px;
    display: block;
    width: 88px;
    background: url(../img/dtime.png) no-repeat;
    color: #FFF;
    height: 46px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}

.memorial_day ul li a {
    margin-top: 30px;
    display: block;
    color: #e04b4b
}

.memorial_day ul li a:hover {
    text-decoration: underline
}

.memorial_day ul li::before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    background: #f8e0d3;
    border: 3px solid #a73c3c;
}

.memorial_day ul li:hover::before {
    background: #00FF00;
    border-color: #fe7008;
}

.memorial_day ul li.n1 {
    position: absolute;
    top: 54px;
    left: 90px
}

.memorial_day ul li.n2 {
    position: absolute;
    top: 54px;
    left: 220px
}

.memorial_day ul li.n3 {
    position: absolute;
    top: 54px;
    left: 590px
}

.memorial_day ul li.n4 {
    position: absolute;
    top: 54px;
    left: 760px
}

.memorial_day ul li.n5 {
    position: absolute;
    top: 54px;
    left: 890px
}

article {
    width: 1030px;
    margin: 0px auto 20px;
    overflow: hidden
}

.l_box {
    width: 670px;
}

.r_box {
    width: 300px;
}

.f_r {
    float: right
}

.f_l {
    float: left
}

.topnews {
    margin: 0 0 20px 0;
}

.topnews h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
    color: #333;
    border-bottom: #55c63b 4px solid;
}

.topnews h2 b {}

.topnews h2 span {
    float: right;
    font-size: 12px;
    font-weight: normal;
}

.topnews h2 span a {
    display: inline-block;
    padding: 0 5px;
}

.topnews h2 span a:hover {
    color: #000
}

.blogs {
    padding: 30px 0;
    position: relative;
    border-bottom: #CCC 1px solid;
    overflow: hidden
}

.blogs h3 {
    font-size: 16px;
    font-weight: bold;
    transition: all .5s;
    margin-bottom: 10px
}

.blogs h3.hong a {
    color: #F00;
    font-size: 16px;
    font-weight: bold;
    transition: all .5s;
    margin-bottom: 10px
}

.blogs h3 a {
    color: #474645;
}

.blogs h3 a:hover {
    color: #066;
    text-decoration: underline
}

.blogs figure {
    float: left;
    width: 25%;
    overflow: hidden;
    margin: 0 10px 0 0;
}

.blogs figure img {
    width: 80%;
    height: 80%;
    margin: auto;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.blogs figure:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.blogs ul {
    float: right;
    line-height: 22px;
    width: 72%;
    color: #756F71;
}

.autor {
    overflow: hidden;
    /*clear: both;*/
    margin: 10px 0;
    display: inline-block;
    color: #838383;
    width: 100%;
}

.autor span {
    margin: 0 10px 0 0;
    padding-left: 20px;
}

.autor span a {
    color: #759b08;
}

.autor span a:hover {
    text-decoration: underline
}

.tag {
    background: url(../img/newsbg01.png) no-repeat left center
}

.dtime {
    background: url(../img/newsbg02.png) no-repeat left center
}

.viewnum {
    background: url(../img/newsbg04.png) no-repeat left center
}

.pingl {
    background: url(../img/newsbg03.png) no-repeat left center
}

.links {
    width: 100%;
    overflow: hidden;
    clear: both
}

.links h3 {
    line-height: 40px;
    color: #38485A;
    font-size: 18px;
    border-bottom: 1px solid #E6E6E6;
    height: 40px;
    margin-bottom: 20px
}

.links h3 span {
    float: right;
    font-size: 12px;
}

.links h3 span a {
    color: #999;
    padding: 0 5px
}

.links h3 span a:hover {
    color: #F60;
    text-decoration: underline
}

.links ul {
    background: #fbf7f8;
    padding: 10px;
    overflow: hidden;
    border: #e9e9e9 1px solid;
    margin-bottom: 15px;
}

.links ul li {
    float: left;
    padding: 5px 8px
}

.links ul li a {
    color: #756F71;
}

.links ul li a:hover {
    color: #000
}


.tit01 h3 {
    line-height: 40px;
    color: #38485A;
    font-size: 18px;
    border-bottom: 1px solid #E6E6E6;
    height: 40px
}

.gzwm ul {
    width: 100%;
    margin: 30px 0 0;
    overflow: hidden
}

.gzwm li {
    width: 200px;
    margin: 3px 0;
    float: left;
    font-size: 14px;
    margin-left: 2px;
}

.weather {
    background: url(../img/weather_bg.png) no-repeat;
    height: 88px;
    margin: 20px 0;
    padding: 20px 0 0 110px;
}

.moreSelect {
    width: 100%;
    margin: 0px 0 20px 0;
    overflow: hidden
}

.ms-top {
    height: 32px;
    border-bottom: solid 1px #EAEAEA;
    font-size: 14px
}

#tab li a {
    float: left;
    height: 32px;
    cursor: pointer;
    line-height: 32px;
    color: #756F71;
    list-style-type: none;
    padding: 0 15px;
}

#tab li.cur a {
    color: #fff;
    background: #f77825;
}

.bd {
    display: none
}

.bd-news ul {
    padding: 10px 0 0 10px;
    background: url(../img/ph2.png) no-repeat 10px 29px;
}

.bd-news ul li {
    border-bottom: solid 1px #EAEAEA;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    font-size: 14px;
    padding: 10px 0 0 30px;
}

.bd-news ul li a {
    display: block;
    color: #756F71;
}

.bd-news ul li a:hover {
    color: #000;
}

.bd-news ul li:hover {
    border-bottom: #000 1px solid;
}

.cloud {
    width: 100%;
    clear: both;
    overflow: hidden;
    margin: 0 0 25px 0;
}

.cloud1 {
    margin: 0 0 20px 0;
}

.cloud h3 {
    line-height: 40px;
    color: #38485A;
    font-size: 18px;
    border-bottom: 1px solid #E6E6E6;
    height: 40px;
}

.cloud h3 a {
    font: normal 12px/40px;
    margin-left: 180px;
}

.cloud h3 a:hover {
    color: #F00;
}

.cloud ul {
    margin: 20px 0
}

.cloud ul li {
    line-height: 24px;
    height: 24px;
    display: block;
    background: #999;
    float: left;
    padding: 3px 11px;
    margin: 10px 10px 0 0;
    border-radius: 8px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cloud ul li a {
    color: #FFF
}

.cloud ul li:nth-child(8n-7) {
    background: #8A9B0F
}

.cloud ul li:nth-child(8n-6) {
    background: #EB6841
}

.cloud ul li:nth-child(8n-5) {
    background: #3FB8AF
}

.cloud ul li:nth-child(8n-4) {
    background: #FE4365
}

.cloud ul li:nth-child(8n-3) {
    background: #FC9D9A
}

.cloud ul li:nth-child(8n-2) {
    background: #EDC951
}

.cloud ul li:nth-child(8n-1) {
    background: #C8C8A9
}

.cloud ul li:nth-child(8n) {
    background: #83AF9B
}

.cloud ul li:first-child {
    background: #036564
}

.cloud ul li:last-child {
    background: #3299BB
}

.cloud ul li:hover {
    border-radius: 0;
    text-shadow: #000 1px 1px 1px
}

footer {
    background: #333;
    width: 100%;
    clear: both;
    text-align: center;
    height: 50px;
}

.ft-copyright {
    color: #fff;
    line-height: 50px;
}

#tbox {
    width: 54px;
    float: right;
    position: fixed;
    right: 50px;
    bottom: 15px;
}

#gotop {
    width: 50px;
    height: 50px;
    display: block;
    background: url(../img/TOP.png) no-repeat;
}

#gotop:hover {
    opacity: 0.5
}